h1 {
  color: green;
  font-size: 4rem;
}

body {
  text-align: center;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

td {
  width: 160px;
  height: 160px;
}

td button {
  width: 160px;
  height: 160px;
}