h1 {
  color: green;
  font-size: 3.5rem;
}

body {
  text-align: center;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

td {
  width: 160px;
  height: 160px;
}

td button {
  width: 160px;
  height: 160px;
}

.category {
  font-size: 30px;
}

/*{box-sizing: border-box;}*/

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text],
.form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: yellowgreen;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover {
  opacity: 1;
}