h1 {
  color: green;
  font-size: 3.5rem;
}

body {
  text-align: center;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  flex: 1;
}

td {
  width: 160px;
  height: 160px;
}

td button {
  width: 160px;
  height: 160px;
}

.category {
  font-size: 30px;
}

.rightSide {
  flex: 0 0 auto
}

.flex-container {
  display: flex;
}