div {
  text-align: center;
  margin: auto;
  width: 500px;
}

table {
  margin: 0 auto;
}

.pbp {
  white-space: pre-wrap;
}

.score {
  font-size: 2em;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}