<header class="top-nav">
  <a href="index.html" class="nav-left">Aidan Sims</a>
  <nav class="nav-right">
    <a href="index.html#about">About</a>
    <a href="components/AidanSimsResumeQ.pdf" target="_blank">Resume</a>
    <div class="dropdown">
      <button class="dropbtn">Personal Projects</button>
      <div class="dropdown-content">
        <a href="https://simsaidan.github.io/grid.html" target="_blank">Tennis Grid Game</a>
        <a href="https://simsaidan.github.io/tiebreak.html" target="_self">Tennis Tiebreak Analysis</a>
        <a href="https://simsaidan.github.io/webtapp.html" target="_blank">Tennis Stat Tracker</a>
        <a href="https://simsaidan.github.io/dashboard.html" target="_self">Tennis Performance Rating</a>
      </div>
    </div>
    <a href="index.html#contact">Contact</a>
  </nav>
</header>